@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background: #222629;
}
.navbar {
  display: inline-flex;
  justify-content: flex-end;
  position: fixed;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.9);
  top: 0;
  width: 100%;
  background: #000;
}
.navbar ul li {
  display: inline-flex;
  justify-content: flex-end;
  list-style: none;
}
.nav-list a {
  display: block;
  font-size: 1em;
  padding: 1rem;
  color: #aaa;
  text-decoration: none;
  font-family: "PT Mono", monospace;
}
.nav-list a:hover {
  color: #fff;
  background: #86c232;
  text-decoration: none;
  font-family: "PT Mono", monospace;
}
@media (max-width: 400px) {
  .navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.7);
    top: 0;
    width: 100%;
    background: #000;
  }
  .navbar ul li {
    display: inline-flex;
    justify-content: center;
    list-style: none;
  }
}

.welcome-section {
  height: 100vh;
  margin: auto;
  display: flex;
  /*align-content: center;
  align-items: center;*/
}
.welcome-section h1 {
  color: #86c232;
  font-family: "PT Mono", monospace;
  text-align: center;
  margin: 50vh 2em 0;
  font-size: 2em;
  text-shadow: 0 3px 5px #000;
}
.welcome-section p {
  color: #fffcf2;
  font-family: "PT Mono", monospace;
  text-align: center;
  width: 30em;
  margin: 50vh 2em 0;
  font-size: 1.2em;
}
@media (max-width: 400px) {
  .welcome-section h1 {
    color: #a5f347;
    font-family: "PT Mono", monospace;
    text-align: center;
    padding: 0 0;
    margin: 20vh 0 0;
    font-size: 1.2em;
  }
  .welcome-section p {
    color: #fffcf2;
    font-family: "PT Mono", monospace;
    text-align: center;
    width: 30em;
    margin: 20vh 0 0;
    font-size: 1.1em;
    padding: 0;
  }
  .welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  gap: 3em 1em;
  height: 115vh;
  padding: 0 6em;
}
.projects h1 {
  color: #a5f347;
  font-family: "PT Mono", monospace;
  text-align: center;
  margin: 0 auto 2.5em;
  text-shadow: 0 3px 5px #000;
}
.project-tile {
  height: 20em;
  width: 20em;
  background: #000;
  border-radius: 0.2em;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}
.project-tile:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.9);
  border-bottom: 2px solid #86c232;
}
.project-tile a {
  color: #61892f;
  font-family: "PT Mono", monospace;
  text-align: center;
  text-decoration: none;
}
.project-title {
  text-align: center;
  margin: 0.5rem;
  font-family: "PT Mono", monospace;
}
.project-tile a:hover {
  color: #86c232;
  text-decoration: none;
  text-align: center;
}
.project-tile img {
  /*height: 70%;
  width: 65%;
  padding: 1em 1em 4em;*/
  object-fit: cover;
  width: 100%;
  height: 80%;
  border-radius: 0.2em 0.2em 0 0;
}
.project-details {
  font-family: "PT Mono", monospace;
  margin: 1em;
  text-align: justify;
}
.projects .codepen-link {
  color: #86c232;
  font-family: "PT Mono", monospace;
  background: #000;
  padding: 1em;
  display: flex;
  justify-content: center;
  width: 10em;
  margin: 1em auto;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.2em;
}
.projects .codepen-link:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
  border-bottom: 2px solid #86c232;
}
@media (max-width: 400px) {
  .project-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    gap: 3em 1em;
    padding: 1em 0 1em;
  }
  .projects h1 {
    padding: 4em 0 0 0;
  }
  .projects .codepen-link {
    display: flex;
    align-items: flex-end;
    margin: 4em auto 0;
  }
}
#contact {
  height: 100vh;
}
#contact h1 {
  color: #a5f347;
  font-family: "PT Mono", monospace;
  text-align: center;
  margin: 0 auto 1em;
  text-shadow: 0 3px 5px #000;
}
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  font-family: "PT Mono", monospace;
}
.contact-section {
  display: flex;
  justify-content: center;
  width: 95%;
  margin-top: 1em;
  flex-wrap: wrap;
  font-family: "PT Mono", monospace;
  padding: 0 1.5em;
  text-align: center;
}
.contact-details {
  font-size: 1.5rem;
  color: #86c232;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  font-family: "PT Mono", monospace;
  padding: 1em 2em;
  text-shadow: 0 12px 8px #000;
}
.contact-details:hover {
  transform: translateY(8px);
}
footer {
  background: #000;
  height: 20vh;
  width: 100%;
  bottom: 0;
  position: relative;
}
@media (max-width: 400px) {
  .footer {
    width: 100vw;
    height: 20vh;
    background: #000;
    bottom: 0;
    position: relative;
    overflow-x: hidden;
  }
}
.copyright {
  color: #fff;
  font-family: "PT Mono", monospace;
  text-align: center;
  padding: 2em;
  text-shadow: 0 1px 2px #222629;
}
